.ordem-compra {
  margin-top: 50px;
  margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
  border: red solid 1px;
}
select.ng-invalid.ng-touched {
  border: red solid 1px;
}
input.ng-valid.ng-touched {
  border: green solid 1px;
}
select.ng-valid.ng-touched {
  border: green solid 1px;
}
