<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
    <form novalidate [formGroup]="formulario" (ngSubmit)="confirmarCompra()">

      <h5>Sua Compra</h5>
      <hr />

      <div *ngIf="carrinhoService.exibirItens().length; else carrinhoVazio">
        <div *ngFor="let item of itensCarrinho" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img [src]="item.img.url" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            {{ item.titulo }}
            <br /> {{ item.descricao_oferta }}

            <div>
              <div class="row">
                <div class="col">
                  <button (click)="remover(item)" type="button" class="btn btn-link">-</button>
                  {{ item.quantidade }}
                  <button (click)="adicionar(item)" type="button" class="btn btn-link">+</button>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-3 d-flex justify-content-end">
              {{ item.quantidade * item.valor | currency: 'BRL' }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{ carrinhoService.totalCarrinhoCompras() | currency: 'BRL' }}</h4>
          </div>
        </div>
        <br />
      </div>

      <ng-template #carrinhoVazio>
        <div class="form-row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          Seu Carrinho esta vazio! Não perca tempo, aproveite as ofertas!
        </div>
      </ng-template>

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Endereço" autocomplete="off" formControlName="endereco">
          <small *ngIf="formulario.get('endereco').valid && formulario.get('endereco').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('endereco').valid && formulario.get('endereco').touched" class="form-text text-danger">Endereco
            Invalido
          </small>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control" placeholder="Número" autocomplete="off" formControlName="numero">
          <small *ngIf="formulario.get('numero').valid && formulario.get('numero').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('numero').valid && formulario.get('numero').touched" class="form-text text-danger">Numero
            Invalido
          </small>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" autocomplete="off" formControlName="complemento">
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-3">
          <select class="form-control" formControlName="formaPagamento">
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small *ngIf="formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched" class="form-text text-danger">Forma
            de pagamento Invalido</small>
        </div>
      </div>

      <hr />
      <button type="submit" class="btn btn-primary btn-lg">Cofirmar compra</button>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
    <app-ordem-compra-sucesso [idPedidoCompra]=idPedidoCompra></app-ordem-compra-sucesso>
  </div>
</div>
